@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-image: url(images/pete-alexopoulos-E2SdYw6lF1c-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 5em;
    color:#590202;
    margin-top: 2%;
    text-align: center;
}

#message-card {
    width: 60%;
    height: 75%;
    border-radius: 15%;
    background-color: #E9DBC4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1600px;
    height: 900px;
}

p{
    font-family: 'Roboto', sans-serif;
    color:#590202;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    margin: 0% 6%;
}

button {
    width: 325px;
    height: 85px;
    border-radius: 50%;
    font-size: 1.5em;
    background-color: #590202;
    color: #E9DBC4;
    font-weight: bold;
    border: none;
}